html,
body,
#root,
#root > div {
  height: 100%;
}

.slick {
  &-slider {
    display: flex;
    flex-direction: column;
  }

  &-list {
    flex-grow: 1;
  }

  &-dots {
    bottom: 0;
    position: relative;
  }
}
