html,
body,
#root,
#root > div {
  height: 100%;
}

.slick {
  &-slider {
    display: flex;
    flex-direction: column;
  }

  &-list,
  &-track,
  &-slide,
  &-slide > div {
    display: flex !important;
    flex-grow: 1;
  }

  &-dots {
    bottom: 0;
    position: relative;
  }
}

.slide {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  &-landing,
  &-submit_answer {
    text-align: center;
  }
}

.answer {
  &-selected {
    color: orange;
  }
}

.dot {
  &-answered {
    ::before {
      color: orange !important;
    }
  }
}
